@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Essential stat list for Battlemechs.  Backend simulated as an XML file.  Will never be hosted. </p>
<p>  All credits for mech info and images goes to<a href="http://harebrained-schemes.com/"> Harebrained studio</a> and 
   <a href="http://www.sarna.net">Sanrna.net</a></p>
